{% extends 'base.html' %}

{% block content %}
  <h2>Registrar</h2>
  <form method="post" novalidate>
    {% csrf_token %}

    {# Display non-field errors #}
    {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
          {{ error }}
        {% endfor %}
      </div>
    {% endif %}

    <div class="form-group">
      {{ form.name.label_tag }}
      {{ form.name }}
      {% if form.name.help_text %}
        <small class="form-text text-muted">{{ form.name.help_text }}</small>
      {% endif %}
      {% if form.name.errors %}
        <div class="alert alert-danger">
          {% for error in form.name.errors %}
            {{ error }}
          {% endfor %}
        </div>
      {% endif %}
    </div>

    <div class="form-group">
      {{ form.email.label_tag }}
      {{ form.email }}
      {% if form.email.help_text %}
        <small class="form-text text-muted">{{ form.email.help_text }}</small>
      {% endif %}
      {% if form.email.errors %}
        <div class="alert alert-danger">
          {% for error in form.email.errors %}
            {{ error }}
          {% endfor %}
        </div>
      {% endif %}
    </div>

   ]
    <div class="form-group">
      {{ form.password.label_tag }}
      {{ form.password }}
      {% if form.password.help_text %}
        <small class="form-text text-muted">{{ form.password.help_text }}</small>
      {% endif %}
      {% if form.password.errors %}
        <div class="alert alert-danger">
          {% for error in form.password.errors %}
            {{ error }}
          {% endfor %}
        </div>
      {% endif %}
    </div>


    <div class="form-group">
      {{ form.password_confirm.label_tag }}
      {{ form.password_confirm }}
      {% if form.password_confirm.help_text %}
        <small class="form-text text-muted">{{ form.password_confirm.help_text }}</small>
      {% endif %}
      {% if form.password_confirm.errors %}
        <div class="alert alert-danger">
          {% for error in form.password_confirm.errors %}
            <br>{{ error }}
          {% endfor %}
        </div>
      {% endif %}
    </div>

    <button type="submit">Registrar</button>
  </form>
{% endblock %}
